@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80vw;
}

.container h1 {
    font-size: 5rem;
    color: rgba(83, 44, 44, 0.9);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    text-align: justify;
}

.container h1 {
    color: #fff;
}

/* Style Bubbles  */
.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
}

.bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in-out;
}

@keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
}