@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80vw;
}

.container h1 {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    text-align: justify;
}

/* particles style */
canvas { 
    display: block; 
} 

#particles-js { 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #2b1c9b; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}

.count-particles { 
    background: #000022; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 

.js-count-particles { 
    font-size: 1.1em; 
} 

#stats, .count-particles { 
    user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 

#stats { 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 

.count-particles { 
    border-radius: 0 0 3px 3px;
}