body {
    display: block;
}

.cell {
    font-size: 30px;
    border: 1px #ccc solid;
    border-radius: 10px;
    height: 64px;
    width: 64px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.control {
    margin-top: 10px;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

.vl {
    border-right: 6px dashed #000;
    height: 65px;
  }

.container {
    justify-items: center;
    text-align: center;
    justify-content: center;
}